.html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling : touch;
}

.body_container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#app{
    width: 100%;
    height: 100%;
    overflow: auto;
    font-size: 16px;
}
.app-toast-shade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.app-toast-shade .app-normal-toast {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 15px 40px;
    width: fit-content;
    height: 13px;
    line-height: 13px;
    font-size: 13px;
    color: #fff;
    box-sizing: content-box;
    border-radius: 5px;
    background-color: rgba(67, 67, 67, 0.6);
}

.logo_box{
    text-align: center;
    width: 100%;
    /* height: 32vw; */
    padding-top: 15px;
    padding-bottom: 20px;
}

.logo_img{
    width: 24vw;
    height: 36.48vw;
    margin: 0 auto;
}

.primary-color{
    color: #DFC086;
}
.primary-bg{
    background-color: #454545;
    color: #DFC086;
}

#register{
    background: url(../img/bg.jpg) no-repeat;
    background-size: 100% 100%;
    padding-bottom: 10vw;
}
.white_bg_reg{
    margin-left: 2vw;
    margin-right: 2vw;
    /* margin-bottom: 10vw; */
    background-color: white;
    height: calc(100vh - 20% - 60px - 5vw - 20px);
    min-height: 150vw;
    border-radius: 10px;
    padding: 6vw;
}

.register-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.register-head{
    color: #282828;
    font-size: 22px;
}
.input-item{
    box-sizing: border-box;
    padding: 0 22px;
    background-color: #F4F6F9;
    margin-top: 15px;
    border-radius: 5px;
}
.register-input{
    border: none;
    outline: none;
    height: 50px;
    flex: 1;
    min-width: 125px;
    background: transparent;
}
.register-arg{
    margin-top: 34px;
    margin-bottom: 34px;
    font-size: 14px;
    text-align: center;
}
.form-submit{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    margin-bottom: 28px;
    font-size: 16px;
}
.form-imgcode{
    width: auto;
    height: 50px;
    margin-right: -22px;
}

/* #country {
    display: none;
} */

#country .row{
    text-align: left;
    line-height: 80px;
    height: 80px;
    padding: 0 22px;
    font-size: 12px;
    background: #fff;
    white-space: nowrap;
    /* border-bottom: 1px solid #ccc; */
}
#country .row .moblepre{
    display: inline-block;
    width: 48px;
    font-weight: bold;
    color: #585858;
}
#country .row .title{
    color: #464646;
    margin-right: 8px;
}
#country .row .value{
    color: #878787;
}
#country .row .is-active{
    float: right;
    margin-top: 25px;
    width: 25px;
}
#country .positionF{
    position: -webkit-sticky;
    position: sticky;
    margin: auto 22px;
    top: 0;
    background: #fff;
}
#country .search-img{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 20px;
    top: 21px;
}
#country .input{
    background-color: rgba(228, 228, 228, 0.5);
    color: #999;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 20px;
    padding-left: 50px;
    margin: 8px 0;
    font-size: 14px;
    box-sizing: border-box;
}