@primary: #5894EE;
@red: #FF6666;
@green: #3CD2AC;

@usdt: #FFA47A;
@tusd: #22B67E;
@usdc: #2876CA;
.primary-bg{
    background-color: @primary;
    color: #ffffff;
}
.primary-color{
    color: @primary;
}
.info-bg{
    .primary-color;
    background: #EDF3FB;
}
.red-bg{
    background-color: @red;
    color: #ffffff;
}
.red-color{
    color: @red;
}
.green-bg{
    background-color: @green;
    color: #ffffff;
}
.green-color{
    color: @green;
}
.usdt-bg{
    background-color: @usdt;
}
.tusd-bg{
    background-color: @tusd;
}
.usdc-bg{
    background-color: @usdc;
}