.assets-symbol-list{
    margin-top: 55px;
    .list-assets{
        font-size: 45px;
        line-height: 45px;
        img{
            width: 50px;
        }
    }
    &>ul>{
        margin-top: 47px;
        &>li{
            padding-bottom: 35px;
            margin-bottom: 35px;
            // border-bottom: 1px solid #dcdcdc;
            &:first-child{
                margin-top: 0;
            }
            img{
                width: 86px;
            }
            .list-values{
                display: inline-block;
                height: 100%;
                line-height: 38px;
                text-align: right;
                &.values1{
                    margin-left: 40px;
                    text-align: left;
                }
                .lable{
                    color: #585858;
                }
                .value{
                    color: #A5A5A5;
                }
                .num_lable{
                    color: #585858;
                }
                .num_value{
                    color: #A5A5A5;
                }
                img{
                    width: 50px;
                }
            }
        }
    }
}