.login{
    position: relative;
    height: 100%;
    font-size: 34px;
    &-box{
        text-align: left;
        padding: 40px;
        margin-top: 35px;
        &-tip{
            color: #575757;
        }
        &-link{
            margin-top: 58px;
            text-align: right;
        }
    }
    &-form{
        margin-top: 42px;
        &-item{
            margin-bottom: 30px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}