.login{
    position: relative;
    height: 100%;
    overflow: auto;
    font-size: 28px;
    &-box{
        text-align: left;
        margin-top: 35px;
        &-tip{
            color: #575757;
        }
        &-link{
            margin-top: 58px;
            text-align: right;
        }
    }
    &-form{
        margin-top: 42px;
        &-check{
            justify-content: center;
        }
        &-item{
            margin-bottom: 30px;
            &:last-child{
                margin-bottom: 0;
            }
            &-country{
                &::after {
                    content: '';
                    // vertical-align: middle;
                    display: inline-block;
                    border: 10px solid;
                    width: 0;
                    height: 0;
                    border-left-color: transparent;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                }
            }
        }
    }
    &-protocol{
        font-size: 28px;
        line-height: 28px;
        margin: 30px 0;
    }
}